h1{
    border-style: none;
    color: #42C2FF;
    text-align: center;
}

body{
    background-color: #B8FFF9
}

legend {
    background-color: #42C2FF;
    color: #fff;
    padding: 3px 6px;
}